<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Sports Update</title>
    <link rel="icon" href="" type="image/x-icon">
    <link href="css/hover.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/05e4f5b4ac.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="jumbotron-fluid">
        <a href="/"><img src="images/miltiadis-fragkidis-oycrSCI1Kh8-unsplash.jpg" alt="NBA Court Gametime"></a>
        <a href="/">
            <h1 class="text-center text-uppercase">The Sports Update!</h1>
        </a>
    </div>
    <nav class="nav d-flex justify-content-center mb-2">
        <a class="navlink p-2 hvr-bounce-in" href="/"><i class="fas fa-home mx-1"></i>Home</a>
        <a class="navlink p-2 hvr-bounce-in" href="/scraped"><i class="far fa-newspaper mx-1"></i>Articles</a>
    </nav>
    <div class="container">

        <h2 class="text-center">The Latest News from the Sports Around the World</h2>

        {{{body}}}
    </div>
    <script src="js/article.js"></script>
</body>

</html>