<div class="row justify-content-center my-1">

    <p class="text-muted text-center ">Read about the latest major sport updates throughout the globe. From the Super
        Bowl to the
        UEFA Soccer
        championships, get the information right here!</p>
    <a href="/scraped">
        <button type="button" class="btn btn-dark hvr-buzz">Scrape Articles!</button>
    </a>
</div>

{{!-- <script src="js/article.js"></script> --}}