<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA Scraper!</title>
</head>

<body>
    <div class="jumbotron">
        <img src="view/images/jc-gellidon-XmYSlYrupL8-unsplash.jpg" alt="NBA Court Gametime">
        <h1>NBA Scraper!</h1>
    </div>
    <div class="container">

        <h2>The Latest News from the NBA</h2>
        <div></div>
        <div></div>

    </div>
</body>

</html>